version: 2.1

orbs:
  macos: circleci/macos@2.4.1
  gh: circleci/github-cli@2.0

commands:
    install-mapbox-token:
         steps:
             - run:
                 name: Install Mapbox Access Token
                 command: echo "foo" > ~/.mapbox

    restore-cache:
         steps:
             - restore_cache:
                 name: Restore cache
                 keys:
                    - carthage-v1-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cartfile.resolved" }}

    save-cache:
        steps:
             - save_cache:
                 key: carthage-v1-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cartfile.resolved" }}
                 paths:
                     - Carthage
                     - Cartfile.resolved

    install-carthage:
        steps:
            - macos/install-rosetta
            - run:
                name: Install Carthage
                command: |
                    curl -OL "https://github.com/Carthage/Carthage/releases/download/0.38.0/Carthage.pkg"
                    sudo installer -pkg Carthage.pkg -target /

    publish-coverage:
        steps:
            - run:
                name: Install lcov
                command: brew install lcov
            - run:
                name: Generate code coverage report
                command: |
                  xcrun llvm-cov export -arch $(uname -m) -format="lcov" \
                    -instr-profile=$(find "${HOME}/Library/Developer/Xcode/DerivedData" -name '*.profdata' | head -n 1) \
                    $(find "${HOME}/Library/Developer/Xcode/DerivedData" -ipath "*MapboxDirections.framework/MapboxDirections" | head -1) > coverage.lcov
            - run:
                name: Generate html report
                command: |
                  genhtml coverage.lcov --output-directory coverage
            - store_artifacts:
                path: coverage
                destination: coverage-report
            - store_test_results:
                path: test-results
                when: always
    carthage-dependencies:
      parameters:
        platform:
          type: string
          default: all
        configuration:
          type: string
          default: Debug
      steps:
        - run:
            name: Carthage Dependencies
            command: |
              ./scripts/carthage-dependencies.sh << parameters.platform >> << parameters.configuration >>
    install-mbx-ci:
      steps:
        - macos/install-rosetta
        - run:
            name: "Install MBX CI"
            command: |
              curl -Ls https://mapbox-release-engineering.s3.amazonaws.com/mbx-ci/latest/mbx-ci-darwin-amd64 > /usr/local/bin/mbx-ci
              chmod 755 /usr/local/bin/mbx-ci
    install-linux-mbx-ci:
      steps:
        - run:
            name: "Install mbx-ci"
            command: |
              mkdir -p ./bin
              curl -fsSL https://mapbox-release-engineering.s3.amazonaws.com/mbx-ci/latest/mbx-ci-linux-amd64 > mbx-ci
              sudo mv mbx-ci /usr/local/bin/
              chmod 755 /usr/local/bin/mbx-ci
              echo "mbx-ci version: $(mbx-ci --version)"
    install-linux-s5cmd:
      steps:
        - run:
            name: "Install s5cmd"
            command: |
              curl -fsSL https://github.com/peak/s5cmd/releases/download/v2.3.0/s5cmd_2.3.0_Linux-64bit.tar.gz | tar xvz
              sudo mv s5cmd /usr/local/bin/
              echo "s5cmd version: $(s5cmd version)"
    setup-write-repo-access:
        steps:
            - run:
                name: Setup write access to the repo
                command: |
                    export GITHUB_TOKEN="$(mbx-ci github writer public token)"
                    echo "export GITHUB_TOKEN='${GITHUB_TOKEN}'" >> $BASH_ENV
                    git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/mapbox/mapbox-directions-swift.git"
                    git config user.email "release-bot@mapbox.com"
                    git config user.name "Mapbox Releases"

step-library:
  - &restore-cache-gems
      restore_cache:
        keys:
          - 1-gems-{{ checksum "Gemfile.lock" }}

  - &install-gems
      run:
        name: Install Gems
        command: |
          bundle config set path 'vendor/bundle'
          bundle check || bundle install

  - &save-cache-gems
      save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

  - &restore-cache-podmaster
      restore_cache:
        keys:
          - podmaster-cache

  - &save-cache-podmaster
      save_cache:
        key: podmaster-cache
        paths:
          - "~/.cocoapods/repos/master"

  - &prepare-netrc-file
      run:
        name: Prepare .netrc file
        command: |
          echo "machine api.mapbox.com" >> ~/.netrc
          echo "login mapbox" >> ~/.netrc
          echo "password $SDK_REGISTRY_TOKEN" >> ~/.netrc
          chmod 0600 ~/.netrc

  - &add-github-to-known-hosts
      run:
        name: Add GitHub to known hosts
        command: |
          for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts

jobs:
  detect-breaking-changes:
    macos:
      xcode: 15.4.0
    steps:
      - checkout
      - install-mapbox-token
      - run:
          name: "Diagnose breaking changes"
          command: |
            swift package diagnose-api-breaking-changes \
                --products MapboxDirections \
                --baseline-dir swift-package-baseline \
                --breakage-allowlist-path swift-package-baseline/breakage-allowlist-path.txt \
                "$(cat swift-package-baseline/baseline.txt)" \
              | tee diagnose-output.txt \
              || TRUE
      - run:
          name: "Parse breaking changes"
          command: |
            EXIT_CODE=0
            cat diagnose-output.txt | sed -n '/API breakage:/p' > breaking-changes.txt
            if [ -s breaking-changes.txt ]; then
              echo "Breaking changes detected"
              cat breaking-changes.txt
            else
              rm breaking-changes.txt
            fi
      - store_artifacts:
          path: breaking-changes.txt
          destination: breaking-changes.txt
      - run:
          name: "Fail if breaking changes detected"
          command: |
            if [ -f breaking-changes.txt ]; then
              exit 1
            fi
  spm-linux-job:
    docker:
      - image: swift:5.7
    steps:
      - checkout
      - run: swift build
      - run: swift test

  spm-job:
    parameters:
      xcode:
        type: string
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - run: swift build

  carthage-integration-test:
    parameters:
      xcode:
        type: string
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - install-mapbox-token
      - install-carthage
      - run:
          name: "Create integration Cartfile"
          command: |
            echo 'github "mapbox/mapbox-directions-swift"' \"$CIRCLE_SHA1\" > Cartfile
      - run:
          name: "Build"
          command: |
            carthage bootstrap --platform all --use-netrc --use-xcframeworks
  example-app-build:
    macos:
      xcode: "14.3.1"
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - install-mapbox-token
      - install-carthage
      - restore-cache
      - carthage-dependencies
      - run:
          name: "Build example app"
          command: xcodebuild -sdk iphonesimulator -project MapboxDirections.xcodeproj -scheme 'Example' -destination 'platform=iOS Simulator,OS=15.5,name=iPhone 13 Pro Max' clean build
      - save-cache

  build-job:
    parameters:
      xcode:
        type: string
        default: "15.4.0"
      device:
        type: string
        default: "iPhone 15 Pro"
      iOS:
        type: string
        default: "17.5"
      watchOS:
        type: string
        default: "10.5"
      tvOS:
        type: string
        default: "17.5"
      test:
        type: boolean
        default: true
      codecoverage:
        type: boolean
        default: true
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - install-mapbox-token
      - install-carthage
      - restore-cache
      - run:
          name: Install prerequisites
          command: |
            if [ $(xcversion simulators | grep -cF "iOS << parameters.iOS >> Simulator (installed)") -eq 0 ]; then xcversion simulators --install="iOS << parameters.iOS >>" || true; fi
      - carthage-dependencies
      - run:
          name: iOS
          command: xcodebuild -sdk iphonesimulator -project MapboxDirections.xcodeproj -scheme 'MapboxDirections iOS' -destination 'platform=iOS Simulator,OS=<< parameters.iOS >>,name=<< parameters.device >>' clean build <<# parameters.test >>test<</ parameters.test >><<# parameters.codecoverage >> -enableCodeCoverage "YES" | xcpretty --report junit --output test-results/junit.xml<</ parameters.codecoverage >>
      - when:
          condition: << parameters.codecoverage >>
          steps:
            - publish-coverage
      - run:
          name: tvOS
          command: xcodebuild -project MapboxDirections.xcodeproj -scheme 'MapboxDirections tvOS' -destination 'platform=tvOS Simulator,name=Apple TV,OS=<< parameters.tvOS >>' clean build <<# parameters.test >>test <</ parameters.test >> <<# parameters.codecoverage >>-enableCodeCoverage YES<</ parameters.codecoverage >>
      - run:
          name: macOS
          command: xcodebuild -project MapboxDirections.xcodeproj -scheme 'MapboxDirections Mac' clean build<<# parameters.test >> test <</ parameters.test >><<# parameters.codecoverage >>-enableCodeCoverage YES<</ parameters.codecoverage >>
      - run:
          name: watchOS
          command: xcodebuild -project MapboxDirections.xcodeproj -scheme 'MapboxDirections watchOS' -destination 'platform=watchOS Simulator,name=Apple Watch Series 7 (41mm),OS=<< parameters.watchOS >>' clean build
      - save-cache

  generate-docs:
    macos:
      xcode: "15.4.0"
    steps:
      - checkout
      - install-mapbox-token
      - *add-github-to-known-hosts
      - *restore-cache-gems
      - *install-gems
      - install-carthage
      - restore-cache
      - carthage-dependencies:
          platform: iOS
          configuration: Release
      - run:
          name: Generate Documentation
          command: |
            TAG="<< pipeline.git.tag >>"
            if [ -n "$TAG" ]; then
              VERSION=${TAG#test_v}
            else
              # Dummy version for non-tagged builds.
              VERSION=0.0.0
            fi
            OUTPUT_PATH="build/docs/$VERSION"
            echo "export OUTPUT_PATH=$OUTPUT_PATH" >> $BASH_ENV
            ./scripts/generate-docs.sh $VERSION $OUTPUT_PATH
      - save-cache
      - *save-cache-gems
      - persist_to_workspace:
          root: ./
          paths:
            - build/docs
      - run:
          name: Compress docs
          command: |
            mkdir -p build/archives
            tar -cvzf build/archives/directions-swift-docs.tar $OUTPUT_PATH
      - store_artifacts:
          path: build/archives/directions-swift-docs.tar
          destination: directions-swift-docs

  publish-docs:
    docker:
      - image: cimg/base:current
    resource_class: small
    environment:
      MBX_CI_DOMAIN: o619qyc20d.execute-api.us-east-1.amazonaws.com
      TARGET_ENVIRONMENT: docs.mapbox.com-staging
    steps:
      - when:
          condition: << pipeline.git.tag >> =~ /^test_v\d+\.\d+\.\d+(-.+)?$/
          steps:
          - checkout
          - *add-github-to-known-hosts
          - attach_workspace:
              at: .
          - install-linux-mbx-ci
          - install-linux-s5cmd
          - run:
              name: Publish docs
              command: |
                TAG="<< pipeline.git.tag >>"
                if [ -z "$TAG" ]; then
                  echo "ERROR: Missing git tag. A tag is required to publish documentation."
                  exit 1
                fi
                VERSION=${TAG#test_v}

                if ! mbx-ci aws setup; then
                  echo "ERROR: Could not setup AWS credentials."
                  exit 1
                fi

                SOURCE_PATH="build/docs/$VERSION"
                ./scripts/publish-docs.sh "$VERSION" "$TARGET_ENVIRONMENT" "$SOURCE_PATH"

  update-version-job:
    parameters:
      xcode:
        type: string
        default: "15.4.0"
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - *restore-cache-gems
      - *restore-cache-podmaster
      - *install-gems
      - *prepare-netrc-file
      - *add-github-to-known-hosts
      - install-mbx-ci
      - run:
          name: Update version
          command: |
            export GITHUB_WRITER_TOKEN=$(mbx-ci github writer public token)
            git remote set-url origin "https://x-access-token:$GITHUB_WRITER_TOKEN@github.com/mapbox/mapbox-directions-swift"
            git config --global user.email no-reply@mapbox.com && git config --global user.name mapbox-ci
            VERSION=$( echo << pipeline.git.branch >> | sed 's/^trigger-update-version-//' )
            ./scripts/update-version.sh v$VERSION
      - *save-cache-podmaster
      - *save-cache-gems

  distribute-version-job:
    parameters:
      xcode:
        type: string
        default: "15.4.0"
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - *restore-cache-gems
      - *restore-cache-podmaster
      - *install-gems
      - *prepare-netrc-file
      - *add-github-to-known-hosts
      - install-mbx-ci
      - run:
          name: Update version
          command: |
            VERSION=$( echo << pipeline.git.branch >> | sed 's/^trigger-distribute-version-//' )
            if [[ $VERSION == *alpha* || $VERSION == *beta* || $VERSION == *rc* ]]; then
                pod repo update && pod trunk push MapboxDirections-pre.podspec --allow-warnings
              else
                pod repo update && pod trunk push MapboxDirections.podspec --allow-warnings
            fi
      - *save-cache-podmaster
      - *save-cache-gems

  integration-test-with-navigation-sdk:
    parameters:
      xcode:
        type: string
    macos:
      xcode: << parameters.xcode >>
    environment:
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - checkout
      - install-mapbox-token
      - *prepare-netrc-file
      - run:
          name: "Build IntegrationWithNavigationSDK"
          command: |
            cd ..
            mv project mapbox-directions-swift
            cd mapbox-directions-swift/IntegrationWithNavigationSDK
            mv MapboxNavigationSwiftUI.xcodeproj.disabled MapboxNavigationSwiftUI.xcodeproj
            xcodebuild -resolvePackageDependencies
            xcodebuild -scheme MapboxNavigationSwiftUI -destination 'generic/platform=iOS Simulator' -sdk iphonesimulator -configuration Release
workflows:
  workflow:
    jobs:
      - detect-breaking-changes:
          name: "Detect Breaking Changes"
      - build-job:
          name: "Dev Build: Xcode 15.4"
      - carthage-integration-test:
          name: "Carthage Integration Test 15.4"
          xcode: "15.4.0"
      - carthage-integration-test:
          name: "Carthage Integration Test 14.3.1"
          xcode: "14.3.1"
      - spm-job:
          name: "SPM build 15.4"
          xcode: "15.4.0"
      - spm-job:
          name: "SPM build 14.3.1"
          xcode: "14.3.1"
      - spm-linux-job:
          name: "SPM Ubuntu build"
      - example-app-build:
          name: "Build example app"
      - integration-test-with-navigation-sdk:
          name: "Integration Test With Navigation SDK"
          xcode: "15.4.0"
      - generate-docs:
          name: "Generate Documentation"
          filters:
              tags:
                only: /^test_v\d+\.\d+\.\d+(-.+)?$/
      - publish-docs:
          name: "Publish Documentation"
          requires:
              - Generate Documentation
          filters:
            tags:
              only: /^test_v\d+\.\d+\.\d+(-.+)?$/
            branches:
              ignore: /.*/
  update-version-workflow:
    jobs:
      - update-version-job:
          filters:
            branches:
              only: /^trigger-update-version-.*/
  distribute-version-workflow:
    jobs:
      - distribute-version-job:
          context:
            - SDK Registry Token
            - CocoaPods trunk token
          filters:
            branches:
              only: /^trigger-distribute-version-.*/
